@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.ant-form-item-label > label {
    color: white !important;
    font-size: 17px !important;
  }

 
  