/* Josefin+Sans */
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap'); */
/* poppings */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* roboto font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
} */

/* body{
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
} */

body{
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}


.ant-form-item-label > label {
    color: white !important;
    font-size: 17px !important;
  }

 /* Custom Submenu for Mobile */
.mobile-submenu .ant-menu-item {
    padding: 12px 16px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
  }
  
  .mobile-submenu .ant-menu-item:hover {
    background-color: #e6f7ff;
  }
  
  .mobile-submenu .ant-menu-submenu-title {
    font-weight: bold;
    color: #333;
  }
  
  @media (max-width: 768px) {
    .mobile-submenu {
      width: 100%;
      background-color: #fff;
      border-radius: 0;
    }
  }
  

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  
  .custom-submenu .ant-menu-item {
    white-space: normal; 
    line-height: 1.5; 
    padding: 10px 16px; 
    word-break: break-word;
  }
  
  .custom-submenu .ant-menu-item a {
    display: block; 
  }
  
  